*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.box{
  width: 50vw;
  height: 50vh;
  background-image: linear-gradient(red, blue);
}

body{
  font-family: serif;
  font-size: 25px;
  line-height: 1.6;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}

.buttons{
  font-family: serif;
  font-size: 20px;
  line-height: 1.6;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 1px;
}
.buttons1{
  font-family: serif;
  font-size: 20px;
  line-height: 1.6;
  align-items: center;
  justify-content: center;
  min-height: 1px;
}
.buttons2{
  font-family: serif;
  font-size: 20px;
  line-height: 1.6;
  align-items: center;
  justify-content: center;
  min-height: 1px;
}

.buttons3{
  font-family: serif;
  font-size: 20px;
  line-height: 1.6;
  align-items: center;
  justify-content: center;
  min-height: 1px;
}

.main {
  font-size: 25;
  font-family:Arial;
  width: auto;
  font-size: 20px;
  line-height: 1.6;
  align-items: center;
  justify-content: center;
  min-height: 1px;
}
.submain{
  font-size: 20;
  font-family:Arial;
  width: auto;
  font-size: 20px;
  line-height: 1.6;
  align-items: center;
  justify-content: center;
  min-height: 1px;
}
.names{
  font-size: 20;
  font-family:Arial;
  width: auto;
  font-size: 20px;
  line-height: 1.6;
  align-items: center;
  justify-content: center;
  min-height: 1px;
}
